<!DOCTYPE html>
<html lang="es-ES">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P5Z39HKV');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-229HYJQ61E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-229HYJQ61E');
    </script>
    
    <meta name="p:domain_verify" content="e0223820c71bd644db6a83b4bc32a26c">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="Metal Wolft">
    <meta name="copyright" content="Metal Wolft">
    
    <!-- Open Graph meta tags -->
    <meta property="og:url" content="{{ og_url }}">
    <meta property="og:type" content="web">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="es_ES">    
    <meta property="og:updated_time" content="2023-10-06T12:30:20">
    <meta property="og:image" content="{{ og_image }}">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="300">
    <meta property="og:image:alt" content="Herrero Soldador en Ciudad Real">
    <meta name="og:site_name" content="Metal Wolft Ciudad Real">
    <link rel="canonical" href="https://www.metalwolft.com/">
    
    <script type="application/ld+json">
    {
      "@context": "https://schema.org/",
      "@type": "Organization",
      "name": "MetalWolft",
      "url": "https://www.metalwolft.com/",
      "logo": "https://www.metalwolft.com/assets/images/favicon.ico"
    }
    </script>
</head>
<body></body>
</html>
