.admin-container {
    width: 1000px; /* Ajusta este valor al tamaño que prefieras */
    margin: auto;
    padding: 20px;
  }
  
  .admin-row {
    display: flex;
    justify-content: center;
  }
  
  .admin-column {
    width: 100%;
  }
  
  .admin-box {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .admin-header {
    background-color: #ff324d;
    padding: 20px;
    color: white;
    text-align: center;
  }
  
  .admin-body {
    padding: 20px;
  }
  