.MuiAppBar-positionFixed {
  position: static !important;
  background-color: #000000 !important;
}

.RaLayout-appFrame{
  margin-top: 0px !important;
}

.RaLayout-content{ 
  margin-left: 2px !important;
}

.admin-header {
  background-color: #ff324d;
  padding: 2px;
  margin-bottom: 0px !important;
  color: white;
  text-align: center;
}

.RaSidebar-fixed a:hover {
  background-color: #ff324d !important;
  color: white !important;
  border-radius: 5px;
}

.RaSidebar-fixed a:hover .MuiListItemIcon-root {
  color: white !important;
  border-radius: 5px;
}

.RaSidebar-fixed .MuiListItemIcon-root {
  transition: color 0.5s ease;
}
