.comparison-table table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  .comparison-table th,
  .comparison-table td {
    border: 1px solid #ff324d;
    padding: 12px;
}

.comparison-table th {
    background-color: #ff324d;
    text-align: center;
    color: white;
  }
  
  .comparison-table td img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .comparison-table ul {
    margin: 0;
    padding-left: 20px;
    list-style: disc;
  }
  
.post-page{
    padding: 20px;
}
.blog-text{
    color: rgb(90, 90, 90);
}
.hr-cart {
    width: 100%;               
    border: 1.5px solid #ff324d;
    color: #3c3c3c;
    opacity: 100; 
    margin-top: 20px;
  }
.h1-categories{
    color: #ff324d;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 80px 0 35px 0;
}
.h2-categories{
    background-color: #ff324d;
    color: white;
    padding: 15px;
}
.h3-categories{
    color: #ff324d;
    margin-top: 30px;
}
.link-categories{
    font-weight: bold;
    color: #ff324d;
    text-decoration: none;
}
.link-categories:hover{
    color: #ff324d;
    text-decoration: none;
}

.h2-title-blog {
    font-size: 1rem;
    margin-top: 1rem;
    margin: 15px;
    color: black !important;
}

.p-coments {
    display: flex;
    justify-content: flex-start;
}
.p-comments-single{
    font-size: 0.7rem;
    margin-left: 15px;
    color: rgb(90, 90, 90);
}

.p-content{
    font-size: 0.8rem;
    margin: 15px;
}
.slug{
    font-size: .7rem;
    font-style: italic;
    color: #ff324d;
    margin: 15px;
}
.card-blog{
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    padding-bottom: 15px;
}
.img-blog{
    border-radius: 10px 10px 0 0;
}
/* Singles Pages */
h1{
    font-size: 2rem;
}
.blockquote_style3 {
    font-style: italic;
    background-color: #fafafa;
    padding: 20px;
    border-left: 2px solid #ff324d;
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 28px;
    margin-top: 5px;
    display: inline-block;
    width: 100%;
    position: relative;
}
.blog_text p{
    margin-top: 35px;
    text-align: justify;
}
.p-coments-single-post{
    font-size: 0.9rem;
    margin: 15px;
}
/* ----- Pantallas grandes (escritorios y laptops) ----- */
@media (min-width: 768px) {
    .post-page{
      padding: 50px;
    }
  }
  /* ----- Pantallas muy grandes (desktops grandes) ----- */
  @media (min-width: 1200px) {
    .post-page{
        padding: 50px;
      }
  }