.table-shopping-cart-img img {
    width: 80px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.table-shopping-cart th, .table-shopping-cart td {
    text-align: center;
    vertical-align: middle;
}

@media (max-width: 576px) {
    .table-shopping-cart-img img {
        width: 60px;
    }
}
