.wishlist_table {
    margin-top: 2rem;
    margin-bottom: 12rem;
}

.wishlist_table .table {
    width: 100%;
    margin-bottom: 0;
    border-collapse: collapse;
}
th {
    font-weight: bold;
}
.wishlist_table .table th, .wishlist_table .table td {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
    white-space: nowrap; 
}

.wishlist_table .table-responsive {
    overflow-x: auto;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.wishlist_table .product-thumbnail img {
    width: 80px;
    height: auto;
    border-radius: 5px;
}

.wishlist_table .product-name a {
    color: #333;
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}

.wishlist_table .product-name a:hover {
    color: #ff324d;
}

.wishlist_table .btn-fill-out {
    background-color: #ff324d;
    color: #fff;
    border: none;
    transition: background-color 0.3s;
}

.wishlist_table .btn-fill-out:hover {
    background-color: #e62941;
}

.wishlist_table .product-remove button {
    background: transparent;
    border: none;
    color: #ff324d;
    cursor: pointer;
    transition: color 0.3s;
}

.wishlist_table .product-remove button:hover {
    color: #e62941;
}

@media (max-width: 576px) {
    .wishlist_table .table-responsive {
        overflow-x: auto;
    }

    .wishlist_table .table {
        display: block; 
    }
}