.footer-custom {
    background-color: #ffea00;
    color: black;
  }
  
  .footer-title {
    font-weight: bold;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  
  p {
    font-size: 1rem;
    margin: 0;
    font-family: "Dosis", sans-serif;
  }
  
  .text-center {
    text-align: center;
  }
  