.footer-row{
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 2rem;
}

.footer-box {
  padding: 2rem;
}

.footer-h5 {
  font-size: 0.8rem;
}

.footer-p {
  font-size: 0.8rem;
  display: flex;
  align-items: center; /* Alinea verticalmente los elementos */
  gap: 10px; /* Añade un espacio entre el icono y el texto */
}

.footer-p i {
  min-width: 20px; /* Ajusta el ancho mínimo para los iconos */
}
/* ----- START DESIGN MEDIA QUERIES ----- */
/* ----- Pantallas pequeñas (móviles) ----- */
  @media (max-width: 575px) {
    .footer-row{
      padding-left: .3rem;
      padding-right: .3rem;
      padding-top: .03rem;
    }
  }
  /* ----- Pantallas medianas (tabletas) ----- */
  @media (min-width: 576px) and (max-width: 767px) {
    .footer-row{
      padding-left: .4rem;
      padding-right: .4rem;
      padding-top: .05rem;
    }
  }
  /* ----- Pantallas grandes (escritorios y laptops) ----- */
  @media (min-width: 768px) {
    .footer-row{
      padding-left: 4rem;
      padding-right: 4rem;
      padding-top: 0.6rem;
    }
  }
  /* ----- Pantallas muy grandes (desktops grandes) ----- */
  @media (min-width: 1200px) {
    .footer-row{
      padding-left: 10rem;
      padding-right: 10rem;
      padding-top: 2rem;
    }
  }