.background-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 55rem;
}

.background-image .row {
    color: rgb(255, 255, 255);
    
}
h1 {
    font-size: 9vw;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: italic;
}
.main-navbar {
    background-color: rgba(255, 228, 51, .35);
    width: 100%;
}
.btn {
    font-family: "Anton", sans-serif;
    color: black;
}