html {
    scroll-behavior: smooth;
}

body {
    background-color: rgba(12,15,17,255);
}

/* -----START CARRUSEL ----- */
.carrusel-background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px; 
    width: 100%;
}
.carousel-caption{
    margin-bottom: 4rem;
    text-align: left;
}
.h6-carrusel{
   margin-bottom: 1.2rem;
}
.p-carrusel{
    margin-bottom: 1.2rem;
}
.carousel-indicators [data-bs-target] {
    background-color: #fff; 
  }
  .carousel-indicators .active {
    background-color: #ff324d; 
  }
/* -----END CARRUSEL ----- */
/* ----- START MAINHOME ----- */
.h1-home{
    margin-top: 2rem;
    font-size: 2.7rem;
    font-weight: 600;
}
.hr-home{
    margin-top: .3rem;
    color: #ff324d;
    padding: 1px;
    opacity: .8;
    border-radius: 50%;
}
.span-home{
    font-size: 2.7rem;
    color: #ff324d;
    margin-bottom: .5rem;
    font-weight: 600;
}
/* -----END MAINHOME ----- */
/* ----- START SECONDARYNHOME ----- */
.card{
    border-radius: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #e0e0e0;
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* Por defecto (móviles pequeños) */
.card-img-top {
  height: 200px;
  object-fit: cover;
}

/* Móviles grandes (≥576px) */
@media (min-width: 576px) {
  .card-img-top {
    height: 240px;
  }
}

/* Pantallas medias y grandes (≥768px) */
@media (min-width: 768px) {
  .card-img-top {
    height: auto;
    max-height: 400px; /* o el valor que veas mejor */
  }
}

.card-img-overlay{
    background-color: rgba(74, 74, 74, 0.55);
    ;
    width: fit-content;
    height: 70%;
}
/* -----END SECONDARYNHOME ----- */
/* ----- START THIRDHOME ----- */
.home-info {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}
.home-about-us{
    margin-top: 100px;
    margin-bottom: 100px;
}
.info-icon {
    color: #ff324d;
}

.info-h3 {
    font-size: 1.1rem;
    margin-top: 10px;
}

.info-p {
    font-size: 1rem;
    color: #565555;
    font-weight: 400;
}

.bg-info-icon {
    display: inline-block;
    border-radius: 50%; 
    padding: 14px; 
    border: 1px solid #ff324d; 
    width: 70px; 
    height: 70px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; 
}

.home-info-card {
    width: auto;
    height: 15rem;
    box-shadow: 0 0 10px rgba(6, 6, 6, 0.15);
    border-radius: 10px;
    transition: transform 0.3s ease; 
}

.home-info-card:hover {
    transform: scale(0.95);
}

.home-info-card:hover .bg-info-icon {
    background-color: #ff324d; 
}

.home-info-card:hover .info-icon {
    color: white; 
}
/* ----- END THIRDHOME ----- */
/* ----- START DESIGN MEDIA QUERIES ----- */
/* ----- Pantallas pequeñas (móviles) ----- */
  @media (max-width: 575px) {
    .h6-carrusel{
        font-size: 3rem; 
    }
    .p-carrusel{
        font-size: 1.1rem; 
    }
  }
  /* ----- Pantallas medianas (tabletas) ----- */
  @media (min-width: 576px) and (max-width: 767px) {
    .h6-carrusel{
        font-size: 3rem; 
    }
    .p-carrusel{
        font-size: 1.2rem; 
    }
  }
  /* ----- Pantallas grandes (escritorios y laptops) ----- */
  @media (min-width: 768px) {
    .carrusel-background {
        height: 550px; 
    }
    .h6-carrusel{
        font-size: 3.7rem; 
    }
    .p-carrusel{
        font-size: 1.6rem; 
    }
  }
  /* ----- Pantallas muy grandes (desktops grandes) ----- */
  @media (min-width: 1200px) {
    .h6-carrusel{
        font-size: 3.7rem; 
    }
    .p-carrusel{
        font-size: 1.6rem; 
    }
  }
  