* {
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  font-style: normal;
}
html {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  overflow-x: hidden !important; 
}
/*Cart*/
.form-check-input:checked {
  background-color: #ff324d; 
  border-color: #ff324d;
  box-shadow: 0 0 5px #f4a8b2; 
  appearance: none; 
}
/* radio button está siendo presionado */
.form-check-input:active {
  background-color: #ff324d; 
  border-color: #ff324d;
  transform: scale(1.1);
  box-shadow: 0 0 5px #f3909d;
}
/* Añadir a tu archivo CSS */
.paypal-buttons iframe {
  min-height: 300px; 
  margin-bottom: 20px; 
}
.hr-cart {
  width: 100%;               
  border: 1.5px solid #ff324d;
  color: #ff324d;
  opacity: 100; 
}

/* -----START BTN ----- */
.btn-style {
  font-size: 0.9rem;
  text-transform: uppercase;
  background: transparent; 
  color: white;
  border: 1px solid #ff324d; 
  padding: 6px 20px; 
  border-radius: 12px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
}

.btn-style:hover {
  background-color: #ff324d; 
  color: white;
  border-color: #ff324d; 
}

.btn-style:active, .btn-style:focus {
  background-color: transparent !important; 
  color: white !important; 
  border-color: #ff324d !important; 
  box-shadow: none !important; 
  outline: none !important; 
  transform: scale(0.98); 
  transition: transform 0.1s ease; 
}

.btn-style-background-color {
  font-size: 0.7rem;
  text-transform: uppercase;
  background: #ff324d; 
  color: white;
  border: 1px solid #ff324d; 
  padding: 6px 20px; 
  border-radius: 12px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
}

.btn-style-background-color:hover {
  background-color: transparent; 
  color: black;
  border: 1px solid #ff324d;
}

.btn-style-background-color:active,
.btn-style-background-color:focus {
  background-color: transparent !important; 
  color: black;
  border: 1px solid #ff324d !important; 
  box-shadow: none !important; 
  outline: none !important; 
  transform: scale(0.98); 
  transition: transform 0.1s ease; 
}

.btn-style-background-color:focus-visible {
  outline: none; 
}
/* -----END BTN ----- */

p .btn-color-yellow {
  background-color: rgba(255, 193, 7);
}

p .btn-color-yellow:hover {
  background-color: rgb(190, 190, 185);
  color: white;
}

 /* --- LOGIN */
 .auth-box {
  background-color: #dddddd; 
  border-radius: 15px; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 
  max-width: 450px; 
  width: 100%;
  padding: 30px; 
}
form{
  padding-left: 25px;
  padding-right: 25px;
}
.auth-header {
  color: #007bff; 
  font-weight: bold;
  font-size: 24px; 
}
.hr_login{
  border: solid 1.5px #ff324d;
  opacity: 100%;
  border-radius: 5px;
}
.stylebtn {
  background-color: #ff324d; 
  border: none; 
  color: white; 
  padding: 10px 20px; 
  font-weight: bold;
  border-radius: 50px; 
  transition: all 0.3s ease; 
  width: 200px;
}

.stylebtn:hover {
  background-color: #a42133; 
  transform: translateY(-2px); 
}

.form-control {
  padding: 5px; 
  border-radius: 10px; 
  border: 1px solid #ced4da; 
}

.form-control:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); 
}



/* ----- START DESIGN MEDIA QUERIES ----- */
/* ----- Pantallas pequeñas (móviles) ----- */
@media (max-width: 575px) {

}
/* ----- Pantallas medianas (tabletas) ----- */
@media (min-width: 576px) and (max-width: 767px) {

}
/* ----- Pantallas grandes (escritorios y laptops) ----- */
@media (min-width: 768px) {
  
}
/* ----- Pantallas muy grandes (desktops grandes) ----- */
@media (min-width: 1200px) {

}