* {
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
  font-weight: 400;
  font-style: normal;
}

/* -----START BTN ----- */
.btn-style {
  font-size: 0.9rem;
  text-transform: uppercase;
  background: transparent; 
  color: white;
  border: 1px solid #ff324d; 
  padding: 6px 20px; 
  border-radius: 12px; 
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 
}

.btn-style:hover {
  background-color: #ff324d; 
  color: white;
  border-color: #ff324d; 
}

.btn-style:active, .btn-style:focus {
  background-color: transparent !important; 
  color: white !important; 
  border-color: #ff324d !important; 
  box-shadow: none !important; 
  outline: none !important; 
  transform: scale(0.98); 
  transition: transform 0.1s ease; 
}

.btn-style-background-color {
  font-size: 0.7rem;
  text-transform: uppercase;
  background: #ff324d; 
  color: white;
  border: 1px solid #ff324d; 
  padding: 6px 20px; 
  border-radius: 12px; 
  cursor: pointer; 
  transition: all 0.3s ease; /* Suaviza las transiciones */
}

.btn-style-background-color:hover {
  background-color: transparent; 
  color: white;
  border: 1px solid #ff324d;
}

.btn-style-background-color:active,
.btn-style-background-color:focus {
  background-color: transparent !important; 
  color: white;
  border: 1px solid #ff324d !important; 
  box-shadow: none !important; 
  outline: none !important; 
  transform: scale(0.98); 
  transition: transform 0.1s ease; 
}

.btn-style-background-color:focus-visible {
  outline: none; 
}
/* -----END BTN ----- */

p .btn-color-yellow {
  background-color: rgba(255, 193, 7);
}

p .btn-color-yellow:hover {
  background-color: rgb(190, 190, 185);
  color: white;
}
 /* --- LOGIN */

.square-box {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgba(255, 193, 7);
  padding: 20px;
  border: 1px solid rgba(255, 228, 51, .35);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.stylebtn {
  margin-top: 5px;
  font-size: 18px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.auth-box {
  background-color: rgba(255, 193, 7);
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
}

.loginbtn{
  background-color: white;
  border: 0;
  border-radius: 0.3rem;
}

.auth-toggle {
  cursor: pointer;
  font-weight: bold;
  color: black;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  display: inline-block;
}

.auth-toggle.active {
  border-color: black;
}

.auth-submit-button {
  background-color: white;
  border: none;
  color: black;
  font-size: 24px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  font-size: 1.5rem;
}