body, html {
    margin: 0;
    padding: 0;
}
/* ----- START NAVBAR ----- */
.estilo-navbar {
    position: fixed;          
    top: 0;                  
    width: 100%;              
    z-index: 1000;            
    background-color: white; 
    margin: 0;                
    padding: 5px 0;        
}

.navbar-brand img {
    max-height: 3rem;         
    margin-right: 20px;       
    padding-left: 3rem;
}
.navbar-brand{
    margin-right: 0;
}

.nav-link {
    font-weight: 400; 
    font-size: 0.9rem;
    color: #000 !important;       
    padding: 10px !important;  
    margin-left: 1.3rem;     
    text-decoration: none;    
}
.navbar-toggler{
    margin-right: 10px !important;
}

.nav-link:hover {
    color: #ff324d !important; 
}



.navbar-toggler {
    border-color: #000;     
}

button.btn-outline-dark i {
    font-size: 1.5rem;        
}

#user-nav-dropdown .dropdown-menu {
    right: 0;                 
    left: auto;               
}

.favorites-badge, .cart-badge {
    background-color: #ff324d !important;
    top: -10px;  
    left: 15px;  
    position: absolute;
    transform: translate(40%, 30%);
    font-size: 0.8rem;  
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-toggler + .d-flex {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

/* Iconos junto a la hamburguesa en pantallas pequeñas */
@media (max-width: 991.98px) {
    .navbar-toggler + .d-flex {
        order: -1;  /* Mover los íconos antes del botón de hamburguesa */
    }
    .nav-link.d-lg-none {
        margin-left: 0.5rem;
    }
    .navbar-brand img {      
        padding-left: 0rem;
    }
}
/* ----- END NAVBAR ----- */
