
.recipe-container h4,
.recipe-container h5 {
    margin-top: 25px;
    margin-bottom: 15px;
}

.recipe-container li {
    margin-bottom: 8px;
    list-style-type: disc;
    margin-left: 20px;
}

.recipe-container strong {
    margin-top: 15px;
    display: block;
}

.recipe-container p {
    margin-bottom: 15px;
}